-# @userはeditアクションで設定しているもの。つまり情報を持っている状態
-# form_withが自動でupdateにパスを送るようになっている(パス書く必要ない)
-# model: @userは必須。パスを指定したい場合ははその後に書く。
-# その場合の例がした↓
-# = form_with model: @user, url: user_path(@user), local: true do |f|
= form_with model: @user, local: true do |f|
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autocomplete: "nickname"
  .field
    = f.label :one_sentense
    %br/
    = f.text_field :one_sentense, autocomplete: "one_sentense"
    = f.submit