.content__title
  投稿の編集
= form_with model: @review do |f|
  タイトル
  = f.text_field :title, placeholder: :タイトル, class: :form__title
  スキー場名
  = f.text_field :ski_field_name, placeholder: :スキー場名, class: :form__title
  レビュー文
  = f.text_area :text, placeholder: :レビュー文, class: :form__text
  = f.submit '投稿する',class: :form__btn
- if @review.released?
  %label.btn.btn-default
    = link_to '非公開にする', nonrelease_review_path(@review.id), method: :patch
- else
  %label.btn.btn-default
    = link_to '公開する', release_review_path(@review.id), method: :patch
