.left-lock
  .contents
    .paginate
      = paginate @reviews
    .l
      - @reviews.each do |review|
        = render review
    
      
.rank
  .good
    投稿イイねランキング
  - @rankings.each.with_index do |review, i|
    第
    = i + 1
    位
    .rank_title
      = review.title
    .rank_name
      = review.user.nickname
      %br/
.search
  .search-area  ユーザー検索
  %input#inc_search_user{:type => "text"}/
  #user_list
.search
  .search-area  スキー場名検索
  %input#inc_search_review{:type => "text"}/
  #view_list
.search
  .search-area タグ一覧
  = render "tag"
- if @tags_get_reviews.present?
  .search
    .search-area 選択したタグに紐づいた投稿一覧
    = render "tag_review"

