-# config/breadcrumbs.rbに定義したmypageを呼び出し
- breadcrumb :review_create
-# 下記を記述した箇所にパンくずリストが表示される。
= breadcrumbs separator: " &rsaquo; "
.content__title
  新規記事の作成
= form_with model: @review, class: :form, local: true do |f|
  = f.text_field :title, placeholder: :タイトル, class: :form__title
  = f.text_field :ski_field_name, placeholder: :スキー場名, class: :form__title
  = f.number_field :rate, placeholder: "評価", value: 1, max: 10, min: 1, html: { class: "search__query", style: 'text-align: right;' }
  -# = f.text_field :tag_list, value: @review.tag_list.join(','), placeholder: :タグ, class: "form-control"
  = f.text_area :text, placeholder: :口コミ内容, class: :form__text
  = f.submit '投稿する',class: :form__btn
  
